<launch>
  <arg name="video_device" default="/dev/video0" />

  <!-- object detection module -->
  <node name="opencv" pkg="khoa20robot_arm" type="opencv.py" clear_params="true" output="screen">
 
  </node>

  <!-- USB web cam driver -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" clear_params="true">
    <param name="video_device" value="$(arg video_device)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="framerate" value="30" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  
  <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/opencv/image_raw"/>
    <param name="autosize" value="true" />
  </node>

</launch>
